{% extends "pagetemplate.html" %}

{% block content %}
    <div class="page-title">
        <h1><i class="fa-solid fa-right-to-bracket"></i><br>Авторизация</h1>
    </div>

    <form action="/auth" method="post" class="form-block">
        {% if error %}
            <div class="error-block">
                {{ error|safe }}
            </div>
        {% endif %}

        <label for="login"><i class="fa-regular fa-user"></i> Логин (почта или никнейм)</label>
        <input id="login" name="login" type="text" placeholder="nickname" required>

        <label for="password"><i class="fa-solid fa-unlock-keyhole"></i> Пароль</label>
        <input id="password" name="password" type="password" placeholder="********" required>

        {% if redirect %} <input name="redirect" type="hidden" value="{{ redirect }}"> {% endif %}

        <button class="but but-with-img center" type="submit">Авторизоваться <img src="/static/img/icons/ayzek-fly.gif"/></button>
        <a class="but-link center" href="/register">У меня ещё нет аккаунта <i class="fa-solid fa-user-plus"></i></a>
    </form>
{% endblock %}