:root {
    --text-muted: #7d7d7d;
}

* {
    font-family: "Noto Sans", sans-serif;
}
body {
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
  }

header {
    width: 100%;
    z-index: 10;
    position: fixed;
    padding-top: 50px;
}

.slider-container {
    padding-top: 50px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }

@keyframes ani {
0% {opacity: 0;}
100% {opacity: 1;}
}

#btnmenu {
    font-size: 15px;
    margin-right: 70px;
    float: right;
    background: none;
    border-radius: 10px;
    border-color: transparent;
    color: white;
    padding: 0.4em 0.4em;
    box-shadow: 0 0 2px 2px white;
}

#title-menu {
    text-align: center;
}

.logo-ds {
    display: block;
    margin: 0 auto;
}

#description {
    opacity: 0;
}

.menu-content-block {
    color: white;
    display: none;
    position: absolute;
    border-radius: 0 15px 15px 0;
    background-color: #171717;
    height: 100vh;
    width: 50vw;
    max-width: 300px;
    top: 0;

    .column a {
        padding: 0.4em 0;
        margin: 0.5em 0;
        box-shadow: 0 0 2px 2px white;
        border-radius: 0.4em;
    }

    .column a:last-child {
        margin-top: 1.5em;
    }
}

.menu-content-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

.official-site {
    padding: 0.8em 0.8em;
    font-size: 1.1em !important;
    font-weight: 600;
    border-radius: 0.4em;
    box-shadow: 0 0 0 2px white;
    border: 2px white;
    background: transparent;
    display: block;
    width: fit-content;
    margin: 1em auto auto auto;
    backdrop-filter: blur(5px);
}

.official-site:hover {
    box-shadow: 0 0 7px 2px white;
    transition: .3s ease-in-out;
}

.menu-content-line a {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 100px;
    text-shadow: 1px 1px 1px #000;
    padding: 0 0.5em;
    border-radius: 0.4em;
    display: flex;

    * {
        display: inline;
    }
    i {
        float: left;
        margin-top: 1.2em;
        margin-right: 5px;
    }
    p {
        float: right;
    }
}

.menu-content-line a:last-child {
    p {
        float: left;
    }
    i {
        float: right;
        margin-top: 1.2em;
        margin-right: 0;
        margin-left: 5px;
    }
}

.menu-content-line a:hover, .menu-content-line a:active {
    box-shadow: 0 0 2px 2px white;
    backdrop-filter: blur(5px);
    transition: .3s ease-in-out;
}

.search {
    min-width: 180px;
}

.landing-block {
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    color: white;
    transition: .5s ease-in-out;
    padding-bottom: 50px;
}

.content3 {
    width: 100%;
    padding-top: 100px;
}

#block3 {
    padding-bottom: 0 !important;
}

.content3 h1 {
    text-align: center;
}

.footer {
    width: 100%;
    font-size: 0.8em !important;
    padding: 3px;

    a {
        font-size: 0.9em !important;
    }
}

.text-muted, .text-muted > * {
    color: var(--text-muted);
}

.content2 {
    padding-top: 100px;
}

.blocks {
    padding-top: 50px;
    display: flex;
}

.txt-block {
    opacity: 0;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    width: 25%;
    height: 50vh;
    border-radius: 15px;
    border: 2px solid white;
    backdrop-filter: blur(5px);
    background: transparent;

    * {
        text-shadow: 2px 0 black;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0.4em;
        text-shadow: 3px 0 black;
    }
}

/* Подгрузка фона */
#block1 {
    background-image: url('/static/img/main/fon3.jpg');
}

#block2 {
    background-image: url('/static/img/main/fon1.jpg');
    filter: brightness(30%);
}

#block3 {
    background-image: url('/static/img/main/fon2.jpg');
    filter: brightness(30%);
}

/* Для больших экранов */
@media (min-width: 1201px) {
    .menu-content-line {
        display: flex;
    }

    #btnmenu {
        display: none;
    }

    #description {
        float: left;
        font-size: 20px;
        width: 50%;
    }

    #global_title {
        opacity: 0;
        font-size: 35px;
        text-align: center;
        text-shadow: 2px 2px 2px #000;
    }

    .content1{ 
        padding-top: 250px;
        margin-left: 10%;
        width: 80%;
        display: flex;
    }

    iframe {
        opacity: 0;
        margin: 50px 50px;
    }
    
}

/* Для маленьких экранов */
@media (max-width: 1200px) {
    header {
        padding-top: 15px;
    }
    
    #btnmenu {
        display: block;
        margin-right: 15px;
        background: transparent;
        backdrop-filter: blur(5px);
    }

    .menu-content-line {
        display: none;
    }

    #global_title {
        padding-top: 30px;
        text-align: center;
        font-size: 25px;
    }

    .txt-block h2 {
        margin-top: 0px;
    }

    .txt-block {
        font-size: 15px;
        width: 75%;
        height: fit-content;
        margin-top: 30px;
    }
    
    .content2 {
        padding-top: 30px;
    }

    .blocks {
        padding-top: 0px;
        display: block;
    }

    .column {
        height: 100vh;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .menu-content-block a {
        display: block;
        height: 25px;
        font-size: 20px;        
    }

    .logo-ds {
        width: 100%;
        padding-left: 20px;
        top: 3em;
        position: relative;
        margin: 0 auto 3.5em auto;
    }

    #description {
        font-size: 15px;
        width: 90%;
        margin: auto auto;
    }

    .content1{ 
        height: 80%;
        width: 80%;
        text-align: center;
        margin: auto auto;
    }

    iframe {
        opacity: 0;
        width: 300px;
        height: 168px;
        padding-top: 20px;
    }

    .content3 h1 {
        font-size: 25px;
    }

    @media (min-width: 500px) {
        iframe {
            width: 600px;
            height: 350px;
            margin-left: -1.2em;
        }
    }

    @media (max-height: 700px) {
    
        #description {
            font-size: 14px;
        }
    }

    @media (max-width: 630px) {
        .txt-block {
            font-size: 11px;
        }
        .logo-ds {
            margin-left: -1em;
        }
    }
}
