{% extends "pagetemplate.html" %}

{% block content %}
	<script src="{{ url_for ('static', filename='scripts/like.js') }}"></script>
    <div class="page-title">
		<img src="/static/img/icons/ayzek-wink.gif"/>
		<h1>Галерея Ишимуры</h1>
		<p class="help-text" style="display: block !important;"><i class="fa-solid fa-circle-info"></i> нажмите 2 раза на картинку, чтобы рассмотреть её ближе</p>
    </div>

	{% if user_block_photos %}
        <div class="error-block">
            <p class="with-icon"><font class="icon"><i class="fa-solid fa-triangle-exclamation"></i></font><br>Некоторые фото скрыты Модератором:{% for photo in user_block_photos %}<br>• <a href="/gallery_actions?id={{ photo[0] }}">{{ photo[1] }}</a>{% endfor %}<br><br>Пожалуйста обновите их в соответствии с правилами сообщества.</p>
        </div>
    {% endif %}

	{% if 'id' in session %}
        <a class="but right" href="/gallery_actions" style="margin-bottom: 2em">Добавить фото <i class="fa-solid fa-plus"></i></a>
    {% endif %}

    <div class="flex-container big-flex-container">
	{% for photo in photos %}
		{% if photo['id'] not in block_photos %}
			<div id="{{ photo['id'] }}" author="{{ photo['author'] }}" class="div-block">
				{% if 'id' in session %}
                    {% if session['acctype'] >= 2 %}
                        <div style="display: inline-block">
                            <a class="but but-red" style="display: inline-block" href="/gallery_actions?block={{ photo['id'] }}">Скрыть <i class="fa-regular fa-eye-slash"></i></a>
                            {% if session['acctype'] >= 3 %}
                                <a class="but but-red" style="display: inline-block" href="/gallery_actions?delete={{ photo['id'] }}">Удалить <i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
				<h3 class="center">{{ photo['title'] }}</h3>
				<p class="center" style="margin-bottom: 1em">{{ photo['description'] }}</p>
				<img class="gallery-img" id="{{ photo['id'] }}-img" src="/{{photo['photo_url']}}">
				<p class="help-text"><i class="fa-regular fa-user"></i> Автор: {{ photo['author_name'] }}</p>
				<a class="like right" href="#" {% if photo['id'] in user_likes %} style="color: var(--red-color)" {% endif %}><i class="fa-solid fa-heart"></i> <span class="like-counter">{{ photo['likes'] }}</span></a>

				{% if 'id' in session %}
					{% if photo['author'] == session['id'] %}
						<div>
							<a class="but" href="/gallery_actions?id={{ photo['id'] }}" style="display: inline-block">Редактировать <i class="fa-solid fa-pencil"></i></a>
							<a class="but but-red but-danger" href="/gallery_actions?delete={{ photo['id'] }}" style="display: inline-block">Удалить <i class="fa-solid fa-trash"></i></a>
						</div>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
    </div>

	<a class="but but-red center" href="/" style="margin-top: 2em">❮&emsp;На главную</a>

<script>
	let _oldclick = 0;
	$(document).ready(function() {
		$('.gallery-img').click(function() {
			console.log('');
			console.log(_oldclick);
			console.log($(this).attr('id'));

			if($(this).attr('id') === _oldclick) {
				console.log($(this).attr('src'));
				window.open($(this).attr('src'), '_blank');
				_oldclick = 0;
			}
			else _oldclick = $(this).attr('id');
		});

		$('.like').click(async function () {
			await sendLike('gallery', $(this).parent().attr('id'), "{{ 'id' in session }}",
					$(this), $($(this).parent().find('.like-counter')), $(this).parent().attr('author'), "{{ session['id'] }}");
		});
	});
</script>
{% endblock %}